@import "tailwindcss";

/* FIX: remove default browser spacing */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #070b1e;
  color: white;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}

